img{
  padding: 2px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
}
img:hover{
  background-color: #00d9ff44;
}
img:active{
  background-color: #00d9ff22;
  position: relative;
  top: 1px;
}
