<section class="news">
  <div class="carousel">
    <app-carousel-card></app-carousel-card>
    <app-carousel-card></app-carousel-card>
    <app-carousel-card></app-carousel-card>
    <app-carousel-card></app-carousel-card>
  </div>
  <div class="contents">
    <div class="app_updates">
      <div class="update_card">
        <div class="update_card_image">
          <img src="" alt="">
        </div>
        <div class="update_card_detail">
          <h1 class="title">título da notícia</h1>
          <p class="description">resumo do conteúdo para atraír o leitor.</p>
        </div>
      </div>
      <div class="update_card">
        <div class="update_card_image">
          <img src="" alt="">
        </div>
        <div class="update_card_detail">
          <h1 class="title">título da notícia</h1>
          <p class="description">resumo do conteúdo para atraír o leitor.</p>
        </div>
      </div>
      <div class="update_card">
        <div class="update_card_image">
          <img src="" alt="">
        </div>
        <div class="update_card_detail">
          <h1 class="title">título da notícia</h1>
          <p class="description">resumo do conteúdo para atraír o leitor.</p>
        </div>
      </div>
    </div>
    <div class="support_info">
      <div class="app_info">
        <div class="app_info_card">
          <div>
            <h1 class="title">nome da versão</h1>
            <span class="status">status</span>
          </div>
          <p class="hotspot">novidade implementada</p>
        </div>
        <div class="app_info_card">
          <div>
            <h1 class="title">nome da versão</h1>
            <span class="status">status</span>
          </div>
          <p class="hotspot">novidade implementada</p>
        </div>
        <div class="app_info_card">
          <div>
            <h1 class="title">nome da versão</h1>
            <span class="status">status</span>
          </div>
          <p class="hotspot">novidade implementada</p>
        </div>
      </div>
      <div class="team_info">
        <div class="team_info_card">
          <div class="team_info_card_image">
            <img src="" alt="">
          </div>
          <div class="team_info_card_detail">
            <h1 class="title">título da notícia</h1>
            <p class="description">resumo do conteúdo para atraír o leitor.</p>
          </div>
        </div>
        <div class="team_info_card">
          <div class="team_info_card_image">
            <img src="" alt="">
          </div>
          <div class="team_info_card_detail">
            <h1 class="title">título da notícia</h1>
            <p class="description">resumo do conteúdo para atraír o leitor.</p>
          </div>
        </div>
        <div class="team_info_card">
          <div class="team_info_card_image">
            <img src="" alt="">
          </div>
          <div class="team_info_card_detail">
            <h1 class="title">título da notícia</h1>
            <p class="description">resumo do conteúdo para atraír o leitor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
