<section>
  <div class="search_friends">
    <div class="search_area">
      <img src="../../../assets/images/icons/magnifying-glass.svg" alt="">
      <input type="text" id="search_friend">
    </div>
  </div>
  <div class="friends_list_box">
    <h2>Lista de Amigos</h2>
    <ul class="friend_list">
      <li class="friend">
        <span>Nome do amigo</span>
        <div class="friend_icons">
          <img src="../../../assets/images/icons/paperclip.svg" alt="">
          <img src="../../../assets/images/icons/user-minus.svg" alt="">
        </div>
      </li>
    </ul>
  </div>
  <div class="incoming_requests_box">
    <h2>Solicitações recebidas</h2>
    <ul class="requesters_list">
      <li class="requester">
        <span>Nome do requisitante</span>
        <div class="requester_icons">
          <img src="../../../assets/images/icons/user_plus.svg" alt="">
          <img src="../../../assets/images/icons/prohibit.svg" alt="">
        </div>
      </li>
    </ul>
  </div>
  <div class="sent_requests">
    <h2>Solicitações enviadas</h2>
    <ul class="requesters_list">
      <li class="requester">
        <span>Nome do requisitado</span>
        <div class="requester_icons">
          <img src="../../../assets/images/icons/x.svg" alt="">
        </div>
      </li>
    </ul>
  </div>
  <div class="blocked_list">
    <h2>Bloqueados</h2>
    <ul class="requesters_list">
      <li class="requester">
        <span>Nome do bloqueado</span>
        <div class="requester_icons">
            <img src="../../../assets/images/icons/user_plus.svg" alt="">
          <img src="../../../assets/images/icons/user-minus.svg" alt="">
        </div>
      </li>
    </ul>
  </div>
</section>
