<section>
  <h1>Stock-Mage</h1>
  <h2>Vamos por a casa em ordem agora!</h2>
  <div class="h_separator"></div>
  <div class="input_area">
    <app-input name="usuário" id="user" type="text"></app-input>
    <div class="password">
      <app-input name="senha" id="password" [type]="showPassword?'text':'password'"></app-input>
      <app-toggle-hide-password [(showPassword)]="showPassword"></app-toggle-hide-password>
    </div>
    <app-input name="permanecer conectado:" type="checkbox"></app-input>
  </div>
  <div class="h_separator"></div>
  <div class="button_area">
    <button>entrar</button>
    <button routerLink="/register">registrar</button>
  </div>
</section>
