<section>
  <h1>Stock-Mage</h1>
  <h2>Organize sua despensa e estoque com facilidade. Nunca mais se preocupe em ficar sem itens essenciais. Com nossa aplicação, você pode gerenciar suas compras, controlar o estoque e receber lembretes inteligentes para manter sua despensa sempre abastecida. Simplifique sua vida e economize tempo com nosso aplicativo intuitivo e prático.</h2>
  <div class="input_area">
    <app-input name="usuário" id="user" type="text"></app-input>
    <app-input name="email" id="email" type="email"></app-input>
    <div class="password">
      <app-input name="senha" id="password" [type]="showPassword?'text':'password'"></app-input>
      <app-toggle-hide-password [(showPassword)]="showPassword"></app-toggle-hide-password>
    </div>
    <app-input name="confirmar" id="confirm" type="password"></app-input>
  </div>
  <div class="button_area">
    <app-button textContent="entrar"></app-button>
    <app-button textContent="já sou membro"></app-button>
  </div>
</section>
